#go {
  letter-spacing: 2px;
}

.btn-success {
  background-color: #1db954 !important;
  border-color: #1db954 !important;
}

.btn-success:hover {
  background-color: #1ed760 !important;
  border-color: #1ed760 !important;
}

.btn-success:focus,
.btn-success.focus {
  box-shadow: none !important;
  background-color: #1d963a !important;
  border-color: #1d963a !important;
}

.btn-success.disabled,
.btn-success:disabled {
  color: #fff;
  background-color: #1d963a;
  border-color: #1d963a;
}

.btn-success:not(:disabled):not(.disabled):active,
.btn-success:not(:disabled):not(.disabled).active,
.show > .btn-success.dropdown-toggle {
  color: #fff;
  background-color: #1e7e34;
  border-color: #1c7430;
}

.btn-success:not(:disabled):not(.disabled):active:focus,
.btn-success:not(:disabled):not(.disabled).active:focus,
.show > .btn-success.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.5);
}

.navbar {
  min-height: 80px;
  background: #191414;
}

.navbar-brand {
  font-size: 26px !important;
}
