ul {
  counter-reset: rowNumber;
}

ul li {
  counter-increment: rowNumber;
}

.trackNum strong::before {
  content: counter(rowNumber);
}

/* .list-unstyled {
  -webkit-box-shadow: 0 -2px 40px rgba(87, 95, 104, 0.2);
  box-shadow: 0 -2px 40px rgba(87, 95, 104, 0.2);
} */

.media {
  cursor: pointer;
}
