.footerLinks {
  color: #1db954;
  text-decoration: none;
  transition: 0.1s ease !important;
}

.footerLinks:hover {
  color: #1ed760;
  text-decoration: none;
  transition: 0.1s ease !important;
}

.footerIcon {
  font-size: 35px !important;
}
